[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dataclasses-json = "*"
faster-whisper = "*"
onnxruntime = "*"
pyannote-audio = "*"
tornado = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.11"
