{
  "openapi": "3.1.0",
  "info": {
    "title": "Blobfish API",
    "version": "1.0.0",
    "summary": "Speech-to-text streaming transcription service",
    "contact": {
      "email": "support@blobfish.ai",
      "name": "Support"
    }
  },
  "servers": [
    {
      "url": "https://blobfish.ai",
      "description": "Blobfish API Server"
    }
  ],
  "paths": {
    "/payment": {
      "patch": {
        "summary": "Top up user's balance by confirming completed payment",
        "description": "This method makes the backend check status of the payment and top up balance if it's completed.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "reference": {
                    "summary": "Payment reference returned by /payment POST",
                    "type": "string",
                    "examples": [
                      "5JJ76501HR1068729"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns a payment status. If it's \"completed\" then the payment is confirmed and the balance has been topped up.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "description": "Status.",
                      "type": "string",
                      "enum": [
                        "new",
                        "canceled",
                        "completed"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User sent a malformed request.",
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "description": "Payment not found.",
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "description": "Server has failed to process request due to internal error.",
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      },
      "post": {
        "summary": "Create a new payment",
        "description": "User creates a new payment by specifying the related details, then follows a URL that is returned to complete it.",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": {
                    "summary": "Payment currency",
                    "type": "string",
                    "examples": [
                      "USD"
                    ]
                  },
                  "amount": {
                    "summary": "Payment amount",
                    "type": "number",
                    "examples": [
                      12.34
                    ]
                  },
                  "processor": {
                    "summary": "Payment processor (currently only Paypal is supported)",
                    "type": "string",
                    "enum": [
                      "paypal"
                    ]
                  },
                  "to_user": {
                    "summary": "Receiving user UUID (the calling user if omitted)",
                    "type": "string",
                    "examples": [
                      "40d3699b-85b9-45fd-8d93-26f3832e7717"
                    ]
                  },
                  "locale": {
                    "summary": "Payment page locale",
                    "default": "en-US"
                  }
                },
                "required": [
                  "currency",
                  "amount",
                  "processor"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment is created.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "reference": {
                      "summary": "Payment ID registered at the specified processor",
                      "type": "string",
                      "examples": [
                        "5JJ76501HR1068729"
                      ]
                    },
                    "url": {
                      "summary": "URL to follow for payment completion",
                      "type": "string",
                      "examples": [
                        "https://www.paypal.com/checkoutnow?token=5JJ76501HR1068729"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Error occurred.",
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "description": "User cannot be authorized or authenticated.",
            "$ref": "#/components/responses/ErrorResponse"
          },
          "404": {
            "description": "User not found.",
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "description": "Server has failed to process request due to internal error.",
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    },
    "/transcribe": {
      "get": {
        "summary": "Transcribe audio stream through websocket (WSS URL scheme)",
        "description": "User sends a binary audio stream (currently supported Ogg Vorbis only) and receives text messages that contain JSON-encoded segments.<br><br>Examples:<ul><li><code>sox -d -t vorbis -q - | websocat -b &quot;wss://blobfish.ai/transcribe?tariff=basic&amp;lang=en&quot; -H &quot;Content-Type: audio/ogg; codecs=vorbis&quot; -H &quot;Authorization: Bearer $ACCESS_TOKEN&quot;</code><br><br></li><li><code>{ cat recording.ogg; printf &quot;I&#39;ll be back&quot; } | websocat -b &quot;wss://blobfish.ai/transcribe?tariff=basic&amp;lang=en&quot; -H &quot;Content-Type: audio/ogg; codecs=vorbis&quot; -H &quot;X-Blobfish-Terminator: I&#39;ll be back&quot; -H &quot;Authorization: Bearer $ACCESS_TOKEN&quot; --no-close</code></li></ul>",
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "description": "Request content type.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "audio/ogg; codecs=vorbis"
              ]
            }
          },
          {
            "name": "X-Blobfish-Terminator",
            "in": "header",
            "description": "A boundary that designates end of audio stream.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tariff",
            "in": "query",
            "description": "Transcription tariff.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "basic"
              ]
            }
          },
          {
            "name": "lang",
            "in": "query",
            "description": "Speech language.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "af",
                "am",
                "ar",
                "as",
                "az",
                "ba",
                "be",
                "bg",
                "bn",
                "bo",
                "br",
                "bs",
                "ca",
                "cs",
                "cy",
                "da",
                "de",
                "el",
                "en",
                "es",
                "et",
                "eu",
                "fa",
                "fi",
                "fo",
                "fr",
                "gl",
                "gu",
                "ha",
                "haw",
                "he",
                "hi",
                "hr",
                "ht",
                "hu",
                "hy",
                "id",
                "is",
                "it",
                "ja",
                "jw",
                "ka",
                "kk",
                "km",
                "kn",
                "ko",
                "la",
                "lb",
                "ln",
                "lo",
                "lt",
                "lv",
                "mg",
                "mi",
                "mk",
                "ml",
                "mn",
                "mr",
                "ms",
                "mt",
                "my",
                "ne",
                "nl",
                "nn",
                "no",
                "oc",
                "pa",
                "pl",
                "ps",
                "pt",
                "ro",
                "ru",
                "sa",
                "sd",
                "si",
                "sk",
                "sl",
                "sn",
                "so",
                "sq",
                "sr",
                "su",
                "sv",
                "sw",
                "ta",
                "te",
                "tg",
                "th",
                "tk",
                "tl",
                "tr",
                "tt",
                "uk",
                "ur",
                "uz",
                "vi",
                "yi",
                "yo",
                "zh",
                "yue"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Connection is upgraded to websocket.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "begin": {
                      "type": "number",
                      "summary": "Start time of the segment, in seconds",
                      "examples": [
                        12.345
                      ]
                    },
                    "end": {
                      "type": "number",
                      "summary": "End time of the segment, in seconds",
                      "examples": [
                        23.456
                      ]
                    },
                    "text": {
                      "type": "string",
                      "summary": "Segment transcription",
                      "examples": [
                        "To be or not to be, that is the question..."
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "User sent a malformed request.",
            "$ref": "#/components/responses/ErrorResponse"
          },
          "402": {
            "description": "User does not have enough balance.",
            "$ref": "#/components/responses/ErrorResponse"
          },
          "403": {
            "description": "User cannot be authorized or authenticated.",
            "$ref": "#/components/responses/ErrorResponse"
          },
          "500": {
            "description": "Server has failed to process request due to internal error.",
            "$ref": "#/components/responses/ErrorResponse"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Access token."
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error occurred.",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": {
                  "type": "object",
                  "properties": {
                    "code": {
                      "type": "string",
                      "summary": "Error kind",
                      "examples": [
                        "user_not_found"
                      ]
                    },
                    "message": {
                      "type": "string",
                      "summary": "Error message",
                      "examples": [
                        "user not found"
                      ]
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
